:root {
  --c-text: #aaa;
  --c-bg: #222;
  --c-bg-alt: #333;
  --c-text-active: #fff;
  /* --c-bg-active: #007878; */
  --c-bg-active: #1c64af;
  --c-alert: #f15858;
  --c-tardigrade: #1c64af;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  font-size: 62.5%;
  background-color: var(--c-bg);
  color: var(--c-text);
  border-color: var(--c-text);
  transition: all 500ms ease-in-out;
  display: flex;
  /* gap: 1rem; */
  width: 100%;
}

  @media (max-width: 900px) {
    body {
      flex-direction: column-reverse;
    }
  }

  body.running {
    color: var(--c-text-active);
    border-color: var(--c-text-active);
    background-color: var(--c-bg-active);
  }

  body.running h1:after {
    background-color: var(--c-text-active);
  }

  body.running .lap-title {
    color: var(--c-text-active);
  }

    body.running .lap-title::placeholder {
      color: var(--c-text-active);
    }

body.running button.stopwatch-toggle.primary {
  border: 1px solid var(--c-text-active);
  background-color: var(--c-bg-active);
}

  body.running .stopwatch-toggle {
    color: var(--c-text-active);
  }

    body.running .stopwatch-toggle:hover {
      color: var(--c-text-active);
      background-color: var(--c-bg);
      border-color: var(--c-text-active);
    }

    body.running .stopwatch-toggle:after {  
      mask: url(icons/pause.svg) no-repeat center / contain;
      -webkit-mask: url(icons/pause.svg) no-repeat center / contain;
    }

ul {
  list-style: none;
  padding: 0;
  font-size: 1rem;
  margin: 0;
}

li {
  width: 100%;
}

.hidden {
  display: none;
}

textarea {
  background-color: transparent;
  color: var(--c-text);
}

button,
input,
textarea {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 0;
  transition: all 200ms ease-in-out;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
}

input[type=text] {
  border-bottom: 1px solid transparent;
  background: transparent;
  padding: .6rem 0;
  font-size: 1.8rem;
  text-align: left;
  outline: 0;
  color: var(--c-text);
}

  @media (max-width: 900px) {
    input[type=text] {
      font-size: 1.4rem;
    }
  }

  input[type=text]:focus {
    border-bottom: 1px solid var(--c-text);
  } 

button {
  cursor: pointer;
  padding: .3rem 1rem;
  transition: 100ms all ease-in-out;
  font-size: 1rem;
}

  button.primary {
    background-color: var(--c-bg);
    color: var(--c-text);
    border: 1px solid var(--c-text);
  }

    button.primary:hover,
    button.primary:active {
      background-color: var(--c-bg-active);
      border: 1px solid var(--c-bg-active);
      color: var(--c-text-active);
    }

  button.secondary {
    background-color: transparent;
    color: var(--c-text);
    border: 0;
    border-bottom: 1px solid var(--c-text);
    padding: 0;
    display: inline-flex;
  }

  button.alert {
    background-color: transparent;
    color: var(--c-alert);
    border: 1px solid var(--c-alert);
  }

    button.alert:hover,
    button.alert:active {
      background-color: var(--c-alert);
      color: var(--c-text-active);
    }

  button:disabled {
    opacity: .5;
    cursor: default;
    pointer-events: none;
  }

body > main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  min-height: 100vh;
  flex: 1 1 0;
  padding: 2rem 2rem 20vh 2rem;

  background-image: url(img/tardigrade.png);
  background-size: auto 50%;
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

  @media (max-width: 1200px) {
    body > main {
      padding: 1rem 1rem 20vh 1rem;
    }
  }

  @media (max-width: 900px) {
    body > main {
      flex: 0 0 30vh;
      min-height: 12rem;
      padding-bottom: 0;
      justify-content: center;
      background-image: none;
    }
  }

  @media (max-width: 500px) {
    body > main {
      /* flex: 0 0 30vh; */
    }
  }

h1 {
  /* padding: .6rem 0; */
  font-size: 1.8rem;
  font-weight: 400;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: baseline;
  cursor: pointer;
  margin: 0;
  text-align: center;
}

  @media (max-width: 900px) {
    h1 {
      font-size: 1.4rem;
    }
  }

  h1:after {
    content: "";
    width: 1rem;
    height: 1rem;
    flex: 0 0 1rem;
    transition: all 500ms ease-in-out;
    background-color: var(--c-text);
    mask: url(icons/edit.svg) no-repeat center / contain;
    -webkit-mask: url(icons/edit.svg) no-repeat center / contain;
  }

  h1.hidden {
    display: none;
  }

input.lap-title {
  text-align: center;
  cursor: pointer;
} 

.time {
  font-size: 4rem;
}

  @media (max-width: 500px) {
    .time {
      font-size: 2rem;
    }
  }

.stopwatch-toggle.primary {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.2rem;
  background-color: transparent;
  position: relative;
  display: flex;
  gap: .8rem;
  align-items: center;
  background-color: var(--c-tardigrade);
  color: var(--c-text-active);
  border-color: var(--c-text-active);
}
  .stopwatch-toggle.primary:hover {
    border-color: var(--c-tardigrade);
    background-color: var(--c-tardigrade);
  }

  .stopwatch-toggle:after { 
    content: "";
    width: 1rem;
    height: 1rem;
    background-color: var(--c-text-active);
    mask: url(icons/play.svg) no-repeat center / contain;
    -webkit-mask: url(icons/play.svg) no-repeat center / contain;
  }

aside {
  flex: 1 1 0;
  display: flex;
}

  @media (max-width: 900px) {
    aside {
      overflow: hidden;
      flex: 0 0 70vh;
    }
  }
  @media (max-width: 500px) {
    aside {
      flex-direction: column-reverse;
    }
  }

.tasks {
  flex: 0 0 20vw;
  background-color: var(--c-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

  @media (max-width: 900px) {
    .tasks {
      flex: 1 1 0;
    }
  }
  
  @media (max-width: 500px) {
    .tasks {
      flex: 0 0 40%;
      border-top: 1px solid var(--c-text);
      gap: 0;
      overflow: hidden;
    }
  }

  .tasks main {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .tasks footer {
    padding: 0 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

    .tasks footer ul {
      display: inline-flex;
      align-items: center;
      gap: 1rem;
      flex: 0 0 auto;
    }

    .tasks footer li {
      width: auto;
    }

    .tasks footer a {
      line-height: 0;
    }

    .tasks footer img {
      width: 1.8rem;
      height: 1.8rem;
    }

    .tasks footer .help {
      border: 1px solid var(--c-text);
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      transition: 100ms all ease-in-out;
    }

      .tasks footer .help:hover {
        border-color: var(--c-text-active);
        background-color: var(--c-text-active);
        color: var(--c-bg);
      }

  .tasks ul {
    overflow: auto;
  }

    @media (max-width: 500px) {
      .tasks ul {
        flex: 1 1 14vh;
      }
    }

  .tasks li {
    display: flex;
  }
   
    .tasks li.active {
      background: var(--c-bg-alt);
    }

  .tasks .select {
    background-color: transparent;
    color: var(--c-text); 
    width: 100%;
    border: 0;
    padding: 1rem 2rem;
    text-align: left;
    border-bottom: 1px solid var(--c-bg-alt);
  }

    @media (max-width: 1200px) {
      .tasks .select {
        padding: 1rem;
      }
    }

  button.new-task {
    margin: 1rem 2rem;
    font-size: 1rem;
    align-self: flex-start;
  }

    @media (max-width: 1200px) {
      button.new-task {
        margin: 1rem;
      }
    }

.laps {
  flex: 1 1 auto;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background: var(--c-bg-alt);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  height: 100%;
}

  @media (max-width: 1200px) {
    .laps {
      padding: 1rem;
    }
  }

  @media (max-width: 900px) {
    .laps {
      /* flex-basis: 50%; */
      flex: 0 0 60%;
    }
  }
  
  @media (max-width: 500px) {
    .laps {
      flex: 1 1 60%;
      gap: 1rem;
      overflow: hidden;
      padding: 0;
    }
  }

  .laps main {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  @media (max-width: 900px) {
    .laps main {
      gap: 1rem;
    }
  }

  @media (max-width: 500px) {
    .laps main {
      gap: 0;
    }
  }

  .laps h2 {
    font-weight: 400;
    margin: 0 0 1rem;
    display: flex;
    font-size: 1.8rem;
    gap: 1rem;
    justify-content: space-between;
    align-items: baseline;
    cursor: pointer;
    margin: 0;
  }

    @media (max-width: 900px) {
      .laps h2 {
        font-size: 1.4rem;
      }
    }

    @media (max-width: 500px) {
      .laps h2 {
        padding: 1rem;
      }
    }

    .laps h2:after {
      content: "";
      background-image: url(icons/edit.svg);
      background-size: contain;
      width: 1rem;
      height: 1rem;
      flex: 0 0 1rem;
    }

    .laps h2.hidden {
      display: none;
    }

  .laps h3 {
    font-weight: 400;
    font-size: 1.6rem;
    margin: 0;
    /* border-top: 1px solid var(--c-text);
    padding-top: 1rem; */
  }

    @media (max-width: 900px) {
      .laps h3 {
        font-size: 1.4rem;
      }
    }

    @media (max-width: 500px) {
      .laps h3 {
        padding: 1rem 1rem 0;
      }
    }

  .laps ul {
    overflow: auto;
  }

    @media (max-width: 500px) {
      .laps ul {
        padding: 1rem;
      }
    }

    .laps li {
      padding: .5rem 0;
      display: flex;
      gap: .8rem;
      align-items: center;
      justify-content: space-between;
      background-color: transparent;
      cursor: pointer;
    }

      .laps li.active {
        background-color: var(--c-bg);
        color: var(--c-text-active);
        padding: .5rem;
      }

    .laps li span {
      display: none;
      font-size: .8rem;
      gap: .8rem;
      align-items: center;
      justify-content: end;
      flex: 1 1 auto;
      white-space: nowrap;
    }

      .laps li.active span {
        display: inline-flex;
      }

      .laps li span button.delete {
        font-size: 1rem;
        align-self: flex-end;
        padding: 0;
        color: var(--c-alert);
        width: 1rem;
        height: 1rem;
        background-color: var(--c-alert);
        mask: url(icons/delete.svg) no-repeat center / contain;
        -webkit-mask: url(icons/delete.svg) no-repeat center / contain;
      }

  .laps input.task-title {
    width: 100%;
    margin-bottom: 1rem;
    padding-top: 0;
  }

  .laps .delete-task {
    display: flex;
    gap: .8rem;
    align-items: center;
  }

    @media (max-width: 500px) {
      .laps .delete-task {
        margin: 0 1rem 1rem;
      }
    }

  .laps .delete-task.hidden {
    display: none;
  }

    .laps .delete-task:after {
      content: "";
      width: 1rem;
      height: 1rem;
      background-color: var(--c-alert);
      mask: url(icons/delete.svg) no-repeat center / contain;
      -webkit-mask: url(icons/delete.svg) no-repeat center / contain;
    }

      .laps .delete-task:hover:after {
        background-color: var(--c-text-active);
      }

/* help dialog */
dialog {
  opacity: 0;
  transition: all 100ms ease-out;
  font-size: 1rem;
  padding: 1rem;
  border: 0;
  background-color: var(--c-text-active);
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: end;
  z-index: -1;
}

  @media (max-width: 900px) {
    dialog {
      width: 90vw;
    }
  }

dialog[open] {
  opacity: 1;
  z-index: 1;
}

dialog[open]::backdrop {
  background-image: linear-gradient(
    45deg,
    #000, #000,
    #1c64af
  );
  transition: all 100ms ease-in-out;
  opacity: 0.5;
}

dialog pre {
  font-family: Courier, monospace;
  color: var(--c-bg);
  white-space: break-spaces;
  width: 100%;
  overflow: auto;
}

dialog button.primary {
  color: var(--c-bg);
  background-color: var(--c-text-active);
  margin-top: 1rem;
}

